
<div class="container">

<div class="row">
  <div class="col-lg-6">
<form>
  <div class="form-group">
    <label for="job">Job:</label>
    <input type="text" class="form-control" id="job"name="job">
  </div>
  <div class="form-group">
    <label for="loc">City:</label>
    <input type="text" class="form-control" id="loc"name="location">
  </div>
  <div class="form-group">
  <label for="website">Choose a website:</label>

  <select id="website " name="web">
    <option value="indeed">Indeed</option>
    <option value="zeprecruiter">Zeprecruiter</option>

  </select>
  </div>

  <button type="submit" class="btn btn-primary">search</button>
</form>
  </div>
</div>
</div>



